{% extends "layout.html" %}
{% block title %} Profile Page {% endblock %}
{% block content %}
<h3> Hello Mr. {{currUser}}!</h3>

<form method="post" action="/logout">
	<input type="submit" name="logout" value="Logout">
</form>
<form method="post" action="/addlink">
		<lable for="link">Link</lable>
		<input type="text" name="link" id="link">
		<lable for="link_des"> Description </lable>
		<input type="text" name="link_des">
		<input type="submit" value="Submit">
</form>
<table>
	{{linksTable|raw}}
</table>	
	

{% endblock %}
